.site-header
{
    background-color: black;
    color: #c8c8c8;
    height: 100vh;
    font-family:moonspace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profile-pic
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #151010 2px 5px 5px;    
}
.course-link
{
    color: #c8c8c8; 
}
.site-header-content
{
margin: 10px;
}
body{
    margin: 0;
}